* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

:root {
    font-size: 1em;
}

p {
    margin: 0;
}

body {
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

.container {
    min-height: 100vh;
    width: 100%;

    display: grid;
    grid-template-columns: 250px 3fr 1fr;
    grid-template-rows: auto auto 1fr 1fr;
}



/* Sidebar */
img {
    height: 50%;
    width: auto;
}

.sidebar {
    background-color: rgb(92, 176, 255);
    grid-row: 1/5;

    display: grid;
    grid-template-rows: repeat(10, 50px);
    grid-template-columns: 50px 1fr;
    align-items: center;
    row-gap: 10px;
    padding: 8px;
}

.sidebar > h2, .sidebar > p {
    padding-left: 5px;
}

.sidebar-icon {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dashboard-icon{
    height: 100%;
    width: auto;
}


/* Header */
.header {
    grid-column: 2/4;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

form {
    display: flex;
    width: 100%;
    max-width: 500px; /* Use max-width instead of width */
    justify-content: center;
    align-items: center;
}

form input[type="text"] {
    min-width: 100px; /* Set a minimum width */
    max-width: 100%; /* Add max-width to prevent it from going out of the grid */
    flex: 1;
    padding: 5px;
    margin: 0;
    border-radius: 50px;
}

form input[type="submit"] {
    background-image: url("icons/magnify.svg");
    background-position: center;
    background-size: cover;
    height: 35px;
    width: 35px;
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
}

.header > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header > div > img {
    width: 25px;
    height: 25px;
}

.circle > img {
    height: 30px;
    width: auto;
}


/* Profile */
.profile-header {
    grid-column: 2/4;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.profile-header > .button-container > button {
    width: 100px;
    height: 30px;
    border-radius: 50px;
    border: none;
    padding: none;
}

.profile-intro > * {
    margin: 0;
    padding: 0;
}

.profile-intro > p {
    font-weight: bold;
}

.button-container {
    display: flex;
    gap: 5px;
}

.profile-container {
    display: flex;
    gap: 15px;
}


/* Projects */
.projects {
    background-color: bisque;
    grid-row: 3/5;
    position: relative;
    padding: 15px;
}

.projects::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.headline {
    font-weight: bold;
    padding-bottom: 15px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 15px;
}

.project-item {
    height: auto;
    width: auto;
    background-color: aliceblue;
    padding: 20px 10px;
    border-radius: 5px;
}



/* Announcements */
.announcements {
    height: auto;
    background-color: bisque;
    box-shadow: inset 0 5px 5px bisque;
    position: relative;
    padding: 15px;
    box-sizing: border-box; /* Include padding within the specified height */

    display: flex;
    flex-direction: column;
}

.announcements::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.announcements-container {
    background-color: aliceblue;
    padding: 10px;
    flex: 1;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.announcements-item {
    margin: 10px 10px;
}

.announcements-item > * {
    font-size: small;
}

.announcements-item > h4 {
    margin-bottom: 1px;
}



/* Trending */
.trending {
    height: auto;
    background-color: bisque;
    box-shadow: inset 0 5px 5px bisque;
    position: relative;
    padding: 15px;
    box-sizing: border-box; /* Include padding within the specified height */

    display: flex;
    flex-direction: column;
}

.trending-container {
    background-color: aliceblue;
    padding: 10px;
    flex: 1;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}